<!DOCTYPE html>
<html lang="en">
<html>
    <header>
        <title>Meeting Application</title>
        <!-- Set up my styles -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../public/css/styles.css" /> 
    </header>
    <body>

        <h1>Hello world!</h1>

    </body>
</html>

